body {
	font-family: 'Dosis', 'Open Sans', sans-serif, helvetica;
	line-height: 1.5;
	color: #3a4a4d;
	background-color: #fdfdfd;
	
}
/*******************
Navbar
********************/
.navbar {
	border-radius: 0;
	background-color: #fff;
	border-color: #fff;
	height: 70px;
	margin-bottom: 0;
}
.navbar-brand img {
	/*max-width: 200px;
	height: 100px;*/
}
.navbar-brand h2 {
	margin-top: 4px;
}
.navbar-right li a{
	margin-top: 12px;
	font-size: 1.2em;
	font-weight: 700;
}
/*******************
Jumbotron
********************/
.jumbotron {
  background-color: #f98e4a;
}
.jumbotron header h1 {
	font-size: 2.4em;
	color: #fff;
	text-align: center;
}
/*******************
Sections 
********************/ 
.eyes,.face {
	margin-top: 70px;
}
.item-img {
	background-color: #fff;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	margin-bottom: 3px;
	padding: 20px 10px;

}
.item-img img {
	max-width: 100%;
	max-height: 300px;
	margin: 0 auto;
	display: block;
	transition-property: box-shadow;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
}

a.item-img-hover .item-img:hover {
	box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
}

/*******************
Typography
********************/
h2.section-headline {
	text-align: center;
	margin: 30px 0;
/* 	border-bottom: 2px solid #f98e4a; */
	font-weight: 400;
}
.item-details p {
	color: ;
	font-weight: 800;
	font-size: 1.1em;
}
.item-details a {
	color: #3a4a4d;
	transition-property: color 0.1s ease-in;
}
.item-details a:hover {
	color: #f98e4a;
}
.modal-body .item-title h1, .modal-body .item-price p {
	font-weight: 800;
}
.modal-body .item-title h1 {
	font-size: 1.5em;
}
.modal-body .item-price p {
	font-size: 1.5em;
}

.modal-body .item-contacts p.item-contacts-no {
	 font-family: 'Open Sans', sans-serif;
	background-color: #f98e4a;
	display: inline-block;
	color: #fff;
	padding: 8px;
	font-weight: 800;
	font-size: 1em;
}
.modal-body .details p.item-details-desc   {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}
.modal-body .item-contacts p.item-contacts-tile, .modal-body .details .item-details-tile  {
	font-size: 1.5em;
	font-weight: 800;
}
.about-card p {
	font-weight: 400;
	font-size: 1.6em;
	padding: 20px;
}
.contacts-box ul {
	margin-top: 20px;
  list-style: none;
}
.contacts-box ul li{
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif, helvetica;
	margin-bottom: 30px;
}
.contacts-box h3 {
	font-family: 'Open Sans', sans-serif, helvetica;
}
.contacts-box .fa {
	margin-right: 7px;
	border-radius: 45px;
	padding: 9px 10px;
	box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.2);
	background-color: #f98e4a;
	color: #fff;
	transition: transform .3s;
}
ul.sm-icons li {
	display: inline-block;
	font-size: 1.8em;
	margin-right: 20px;
}
.contacts-box li a:hover .fa {
	transform: translate(0px,-10px);
}

/*******************
Cards
********************/
.about-card {
	max-width: 68.3760683761%;
	margin: 0 auto;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	border-radius: 1px;
	background-color: #fff;
}
.contacts-box {
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	padding: 20px;
	margin-bottom: 25px;
	background-color: #fff;
}
/*******************
Forms
********************/
.contacts-box form input,.contacts-box form textarea {
	border-radius: 2px;
}
.contacts-box form input:focus, .contacts-box form textarea:focus {
	border: 2px solid #f9834a;
	box-shadow: none;
}
.contacts-box button {
	font-family: 'open Sans', sans-serif, helvetica;
	font-weight: 600;
	background-color: #f98e4a;
	color: #fff;
	border: none;
	padding: 13px 25px;
	border-radius: 2px;
	transition-property: background-color, box-shadow;
	transition-duration: 0.3s;
}
.contacts-box button:hover {
	background-color: #f76f19;
	color: #fff;
	box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}

.contacts .col-sm-8 {
	border-right: 1px solid rgba(0,0,0,0.16);
}
/*******************
Modals
********************/
.modal-dialog {
	width: 1000px;
	max-width: 100%;
	max-height: 100%;
}
.modal-content {
	border-radius: 0;
}
.modal-body img {
	max-width: 100%;
	padding: 20px;
}
.modal-body {
	padding: 0;
}

.modal-body .col-sm-4 {
	background-color: #eaf1f1;
	margin: 0;
}
.modal-header, .modal-footer {
	border: none;
}














