body {
	font-family: 'Dosis', 'Open Sans', sans-serif, helvetica;
	line-height: 1.5;
	color: #3a4a4d;
	
}
/*******************
Navbar
********************/
.navbar {
	border-radius: 0;
	background-color: #fff;
	border-color: #fff;
	height: 70px;
	margin-bottom: 0;
}
.navbar-brand img {
	/*max-width: 200px;
	height: 100px;*/
}
.navbar-brand h2 {
	margin-top: 4px;
}
.navbar-right li a{
	margin-top: 12px;
	font-size: 1.2em;
	font-weight: 700;
}
/*******************
Jumbotron
********************/
.jumbotron {
  background-color: #f98e4a;
}
.jumbotron header h1 {
	font-size: 2.4em;
	color: #fff;
	text-align: center;
}
/*******************
Sections 
********************/ 
.eyes,.face {
	margin-top: 70px;
}
.item-img {
	background-color: #eaf1f1;
	margin-bottom: 13px;
	transition-property: all 0.2s ease-in-out;
	transition-delay: 0.1s;
}
.item-img img {
	max-width: 100%;
	padding: 20px;
	display: block;
}

a.item-img-hover .item-img:hover {
	border: 2px solid #f98e4a;
}

/*******************
Typography
********************/
h2.section-headline {
	margin: 0px 0;
	display: inline-block;
	border-bottom: 2px solid #f98e4a;
	font-weight: 400;
}
.item-details p {
	color: ;
	font-weight: 800;
	font-size: 1.1em;
}
.item-details a {
	color: #3a4a4d;
	transition-property: color 0.2s ease-in-out;
}
.modal-body .item-title h1, .modal-body .item-price p {
	font-weight: 800;
}
.modal-body .item-title h1 {
	font-size: 1.5em;
}
.modal-body .item-price p {
	font-size: 1.5em;
}

.modal-body .item-contacts p.item-contacts-no {
	 font-family: 'Open Sans', sans-serif;
	background-color: #f98e4a;
	display: inline-block;
	color: #fff;
	padding: 8px;
	font-weight: 800;
	font-size: 1em;
}
.modal-body .details p.item-details-desc   {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}
.modal-body .item-contacts p.item-contacts-tile, .modal-body .details .item-details-tile  {
	font-size: 1.5em;
	font-weight: 800;
}
/*******************
Modals
********************/
.modal-dialog {
	width: 1000px;
	max-width: 100%;
	max-height: 100%;
}
.modal-content {
	border-radius: 0;
}
.modal-body img {
	max-width: 100%;
	padding: 20px;
}
.modal-body {
	padding: 0;
}

.modal-body .col-sm-4 {
	background-color: #eaf1f1;
	margin: 0;
}
.modal-header, .modal-footer {
	border: none;
}














