body {
	font-family: 'Dosis', 'Open Sans', sans-serif, helvetica;
	line-height: 1.5;
	color: #3a4a4d;
	
}
/*******************
Navbar
********************/
.navbar {
	border-radius: 0;
	background-color: #fff;
	border-color: #fff;
	height: 70px;
	margin-bottom: 0;
}
.navbar-brand img {
	/*max-width: 200px;
	height: 100px;*/
}
.navbar-brand h2 {
	margin-top: 4px;
}
.navbar-right li a{
	margin-top: 12px;
	font-size: 1.2em;
	font-weight: 700;
}
/*******************
Jumbotron
********************/
.jumbotron {
  background-color: #f98e4a;
}
.jumbotron header h1 {
	font-size: 2.4em;
	color: #fff;
	text-align: center;
}
/*******************
Sections 
********************/ 
.eyes,.face {
	margin-top: 70px;
}
.item-img {
	background-color: #eaf1f1;
	margin-bottom: 13px;
}
.item-img img {
	max-width: 100%;
	padding: 20px;
}
/*******************
Typography
********************/
h2.section-headline {
	margin: 0px 0;
	display: inline-block;
	border-bottom: 2px solid #f98e4a;
	font-weight: 400;
}
.item-details p {
	color: ;
	font-weight: 800;
	font-size: 1.1em;
}
















